<% @plots.each do |plot| %>
  <h3><%= plot.number  %></h3>
  <% plot.plants.each do |plant| %>
    <h5><%= plant.name  %></h5>
      <%= button_to "Remove #{plant.name}", harvest_path(plot.id, plant.id), method: :delete  %></h5>
  <% end %>
<% end %>
